.controller.ds4.white {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/baseSvgFade.svg);
}

.ds4.white.disconnected {
  background: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/disconnectedSvg.svg);
}

.ds4.white .trigger {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/triggersSvg.svg);
}

.ds4.white .bumper {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/bumperSvg.svg);
}

.ds4.white .touchpad.pressed {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/touchpadSvg.svg);
}

.ds4.white .back, .ds4 .start {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/selectSvg.svg);
}

.ds4.white .button {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/faceSvg.svg);
}

.ds4.white .stick {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/sticksSvg.svg);
}

.ds4.white .face {
  background-image: url(https://justsayboot.github.io/GamepadCustomizer/controllers/pblzrl/dpadSvg.svg);
}